<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pinheirosdevelopers.repertoriomusical">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RepertorioMusical"
        tools:targetApi="31">
        <activity
            android:name=".DetalhesEnsaioActivity"
            android:label="Detalhes do Ensaio"
            android:exported="false" />
        <activity
            android:name=".ListaEnsaioActivity"
            android:label="Ensaios"
            android:exported="false" />
        <activity
            android:name=".CadastroEnsaioActivity"
            android:label="Formulário de Cadastro"
            android:exported="false" />
        <activity
            android:name=".ListaNotificacaoActivity"
            android:exported="false"
            android:label="Notificações" />
        <activity
            android:name=".DetalhesAgendaDeEventoActivity"
            android:exported="false"
            android:label="Detalhes do Evento" />
        <activity
            android:name=".ListaAgendaDeEventoActivity"
            android:exported="false"
            android:label="Agenda de Eventos" />
        <activity
            android:name=".CadastroAgendaDeEventoActivity"
            android:exported="false"
            android:label="Formulário de Cadastro" />
        <activity
            android:name=".ListaRepertorioMusicalActivity"
            android:exported="false"
            android:label="Repertório Musical" />
        <activity
            android:name=".CadastroRepertorioMusicalActivity"
            android:exported="false"
            android:label="Formulário de Cadastro" />
        <activity
            android:name=".MenuInterativoActivity"
            android:exported="false"
            android:label="               Menu Interativo" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>