<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pinheirosdevelopers.repertoriomusical" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RepertorioMusical"
        tools:targetApi="31" >
        <activity
            android:name=".ListaAgendaDeEventoActivity"
            android:label="Agenda de Eventos"
            android:exported="false" />
        <activity
            android:name=".CadastroAgendaDeEventoActivity"
            android:exported="false"
            android:label="Formulário de Cadastro" />
        <activity
            android:name=".ListaRepertorioMusicalActivity"
            android:label="Repertório Musical"
            android:exported="false" />
        <activity
            android:name=".CadastroRepertorioMusicalActivity"
            android:exported="false"
            android:label="Formulário de Cadastro" />
        <activity
            android:name=".MenuInterativoActivity"
            android:exported="false"
            android:label="               Menu Interativo" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>